body{
    height: 150vh;
    background-color: #f2e8dc;
    /* z-index: -1; */
    position: relative;
}
input{
    z-index: 0;
    width: 245px;
    height: 25px;
    outline: none;
    margin-top: -15px;
}

button{
    width: 60px;
    background-color: #bfa378;
    outline: none;
    border: none;
    padding: 3px;
}

button:hover{
    background-color: #968161;

}

button:focus{
    outline: none;
}

/* .menu{
    z-index: 3;
}

.floating-nav, .nav{
    z-index: 2;
    position: absolute;
} */

.banner{
    height: 40vh;
}

.banner::after{
    content: '';
    top: 10%;
    left: 0;
    right: 0;
    bottom: 65%;
    position: absolute;
    /* z-index: -1; */
    background-image: url('ext.jpeg');
    background-position: center;
    filter: brightness(55%);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text{
    position: absolute;
    top: 20%;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    color: azure;
}

.burger{
    border: 1px solid black;
}

.floating-nav .burger{
    border: 1px solid #f2e8dc;
}

.floating-nav .slogan{
    color: #f2e8dc;
}
.slogan{
    color: black;
}

.content{
    margin-top: 140px;
    padding: 10px 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.phones, .off-address{
    background-color: #bfa378;
    /* width: 300px; */
    padding: 20px 20px;
}

.message{
    outline: none;
    height: 120px;
    overflow: hidden;
    width: 245px;
}

