body{
    background-color: #f2e8dc;
    position: relative;
}

input{
    /* z-index: 1000; */
    width: 55%;
    height: 25px;
    outline: none;
    margin-top: -5px;
}

button{
    width: 60px;
    background-color: #bfa378;
    outline: none;
    border: none;
    padding:  5px 3px;
}

button:hover{
    background-color: #998260;

}

button:focus{
    outline: none;
}
/* label{
    margin-top: 5px;
} */
.floating-nav, .menu, .nav{
    z-index: 2;
}

.banner{
    height: 40vh;
}

.banner::after{
    content: '';
    top: 7%;
    left: 0;
    right: 0;
    bottom: 78%;
    position: absolute;
    /* z-index: -1; */
    background-image: url('ext.jpeg');
    background-position: center;
    filter: brightness(55%);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text{
    position: absolute;
    top: 13.5%;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 2.2em;
    font-weight: 400;
    color: azure;
}

.burger{
    border: 1px solid black;
}

.floating-nav .burger{
    border: 1px solid #f2e8dc;
}

.floating-nav .slogan{
    color: #f2e8dc;
}
.slogan{
    color: black;
}

.content{
    margin-top: 140px;
    padding: 10px 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

.phones, .off-address{
    background-color: #bfa378;
    /* width: 300px; */
    padding: 20px 20px;
}