.vid-bg{
    height: 100vh !important;
    position: relative;

}

nav{
    /* min-height: 110px; */
    /* padding: 0; */
}


.page-title{
    margin-top: -23px;
    text-align: center;
    color: #f2e8dc;
}

.snippet-sect{
    height: 120vh;
    background-color: #f2e8dc;
    
}

.snippet-topic{
    font-size: 1.8em;
}
.snippet-sect img{
    object-fit: cover;
}

.snippet-descr{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    padding: 170px 0px;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.interiors-showcase{
    background-color: #f2e8dc;
}

.interiors-showcase-products{
    margin-top: 20px;
    padding: 10px 20px;
}

.showcase-product{
    width: 100%;
    
}

.showcase-product-img{
    /* height: 300px; */
    width: 97%;
    /* background-color: white; */
}

.showcase-product-img > img{
    object-fit: cover;
    height: 300px;
}

.showcase-product-title{
    font-size: 19px;
    width: 97%;
}

#myvid{
    position: absolute;
    top : 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    filter: brightness(80%);

}

/* .vid-bg-slideText{
    display: none;
} */

.arrow{
    background-color: #f2e8dc;
}

@media only screen and (max-width: 700px){

    .vid-bg::after{
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        background-image: url('INTERIORS/1.jpg');
        background-position: center;
        filter: brightness(60%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .vid-bg-slideText{
        color: #f2e8dc;
        position: absolute;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        top: 40%;
        font-size: 1.9em;
        font-weight: 400;
        width: 100%;
        text-align: center;

    }


    #myvid{
        display: none;
    }

    .interiors-showcase-products{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        place-content: center;
    }

    #no_display1, #no_display2{
        display: none;
    }

    #last-showcase{
        margin-top: 20px;
      text-align: center;
    }

    .showcase-product-img > img{
        height: 250px;
    }

    .snippet-descr{
        margin: 0;
        padding: 0px 20px;
        width: 100vw;
    }

    .snippet-sect > .img-sect > img{
        height: 320px;
    }


}