
body{
    overflow-x: hidden;
}
nav{
    padding: 25px 20px !important;
}

.page-title{
    margin-top: -23px;
    text-align: center;
    color: #f2e8dc;
}

.bg-slide-studio{
    height: 100vh;
    
}

.bg-slide-studio::after{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-image: url('full_hd_retina.jpeg');
    background-position: center;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.studio-intro{
    background-color: #f2e8dc;
}

.intro-heading{
    font-size: 1.9em;
}

.snippet-sect{
    background-color: #f2e8dc;
    padding: 10px 0px;
}

.snippet-sect img{
    object-fit: cover;
}

.snippet-descr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px 50px;
    width: 580px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.studio-title{
    font-size: 1.9em;
}

.studio-products-sect{
    background-color: #f2e8dc;
    padding-top: 70px;
}

.studio-products-grp{
    padding: 20px 20px;
}
.studio-product{
    width: 95%
}

.studio-product-img{
    width: 95%;
    background-color: white;
    height: 210px;
}

.banner-text{
    color: #f2e8dc;
    position: absolute;
    z-index: 0;
    /* top: 90%; */
    font-size: 3.2em;
    font-weight: 400;
    width: 100%;
    padding: 0px 250px;
    text-align: center;
    opacity: 0;
    animation-duration: 20s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
  
}

#text1{
    animation-name: anime1;
}

#text2{
    animation-name: anime2;
    /* animation-delay: 600; */
}

#text3{
    animation-name: anime3;
    /* animation-delay: 600; */
}

@keyframes anime1{
0%, 8.3% { bottom: -100%; opacity: 0; }
  8.3%,25% { bottom: 45%; opacity: 1; }
  33.33%, 100% { bottom: 110%; opacity: 0; }
}

@keyframes anime2{
    0%, 33.33% { bottom: -100%; opacity: 0; }
    41.63%, 58.29% { bottom: 45%; opacity: 1; }
    66.66%, 100% { bottom: 110%; opacity: 0; }
}

@keyframes anime3{
    0%, 66.66% { bottom: -100%; opacity: 0; }
    74.96%, 91.62% { bottom: 45%; opacity: 1; }
    100% { bottom: 110%; opacity: 0; }
}


.arrow{
    background-color: #f2e8dc;
    
}




@media only screen and (max-width: 700px){
    .snippet-sect > div > img{
        height: 300px;
        object-fit: cover;
    }

    .snippet-descr{
        padding: 40px 15px;
        width: 100%;
    }

    .arrow{
      padding-top: -30px;
      margin-top: -20px;
    }
}